连接mongoDB

In [1]:
import pymongo
client = pymongo.MongoClient(host='localhost', port=27017)

指定数据库

In [2]:
db = client['test']

指定集合

In [3]:
collection = db['students']

插入数据

In [5]:
student = {
    'id': '20170101',
    'name': 'Jordan',
    'age': 20,
    'gender': 'male'
}
result = collection.insert_one(student)
print(result)

<pymongo.results.InsertOneResult object at 0x7ff338566518>

In [7]:
student1 = {
    'id': '20170100',
    'name': 'Jordan',
    'age': 20,
    'gender': 'male'
}

student2 = {
    'id': '20170202',
    'name': 'Mike',
    'age': 21,
    'gender': 'male'
}

result = collection.insert_many([student1, student2])
print(result)
print(result.inserted_ids)

<pymongo.results.InsertManyResult object at 0x7ff2e8066dd8>
[ObjectId('64b10cb03d4a59cb54d8b6df'), ObjectId('64b10cb03d4a59cb54d8b6e0')]

查询数据

In [6]:
result = collection.find_one({'name': 'Jordan'})
print(type(result))
print(result)

<class 'dict'>
{'_id': ObjectId('64b10c303d4a59cb54d8b6de'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': 'male'}

In [8]:
results = collection.find({'age': 20})
print(results)
for result in results:
    print(result)

<pymongo.cursor.Cursor object at 0x7ff349393048>
{'_id': ObjectId('64b10c303d4a59cb54d8b6de'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': 'male'}
{'_id': ObjectId('64b10cb03d4a59cb54d8b6df'), 'id': '20170100', 'name': 'Jordan', 'age': 20, 'gender': 'male'}

排序

In [11]:
results = collection.find().sort('name', pymongo.ASCENDING)
print([result['name'] for result in results])

['Jordan', 'Jordan', 'Mike']

更新

In [15]:
condition = {'name': 'Mike'}
student = collection.find_one(condition)
student['age'] = 25
result = collection.update_one(condition, {'$set': student})
print(result)

<pymongo.results.UpdateResult object at 0x7ff349393898>

删除

In [17]:
result = collection.delete_one({'id': '20170100'})
print(result)

<pymongo.results.DeleteResult object at 0x7ff3000a9f28>